

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;

}

h1{

}

#fixed {
    padding-top: 20px;
    height: 40px;
    width: 50px;
    left: 0;
    top: 0;
    background: #eee;
}

#absolute {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
}