/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  float: left;
  width: 33.333%;
  color: #333;
  background: #30948D;
}


#middle {
  float: left;
  width: 33.333%;
  color: #333;
  background: #9E1212;
}

#right {
  float: left;
  width: 33.333%;
  color: #333;
  background:#30948D;
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  color: #fff;
  background: #394549;

}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #214fb3;
}

aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  background: #a6b747;
  border: 1px solid #eee;
}

footer {
  padding: 20px;
  background: #FFA500;
  clear: both; 

}
